/* line 17, scss/main.scss */
.navbar-brand-txt {
  line-height: 34px;
}

/* line 25, scss/main.scss */
.apf-body {
  background: #f5f5f5;
}
/* line 27, scss/main.scss */
.apf-body .navbar-pf-vertical .navbar-brand .navbar-brand-icon {
  height: 20px;
  margin-top: 10px;
}

/* line 279, scss/main.scss */
.list-view-pf .apf-list-row {
  width: 100%;
}
/* line 283, scss/main.scss */
.list-view-pf .apf-row-column {
  padding-right: 5px;
}
/* line 288, scss/main.scss */
.list-view-pf .list-group-item .apf-column {
  float: left;
  margin-right: 10px;
  padding: 5px 5px;
}
/* line 293, scss/main.scss */
.list-view-pf .list-group-item .apf-object-column {
  padding-top: 1px !important;
}
/* line 295, scss/main.scss */
.list-view-pf .list-group-item .apf-object-column .apf-label {
  vertical-align: middle;
}
/* line 301, scss/main.scss */
.list-view-pf .list-group-item .apf-icon-label {
  color: #4d5258;
  font-size: 18px;
  padding-left: 5px;
  vertical-align: middle;
  white-space: nowrap;
}
/* line 308, scss/main.scss */
.list-view-pf .list-group-item .pficon.apf-icon-label {
  color: #0088ce;
}
/* line 312, scss/main.scss */
.list-view-pf .list-group-item .apf-label {
  color: #4d5258;
  font-size: 12px;
  padding-left: 5px;
  white-space: nowrap;
}
/* line 319, scss/main.scss */
.list-view-pf .list-group-item .apf-label.apf-title {
  color: #4d5258;
  float: left;
  font-size: 13px;
  font-weight: 700;
}
/* line 326, scss/main.scss */
.list-view-pf .list-group-item .apf-icon-label.apf-title {
  color: #4d5258;
  float: left;
  font-size: 13px;
  font-weight: 700;
}
/* line 333, scss/main.scss */
.list-view-pf .list-group-item .apf-label.apf-value {
  float: left;
  text-align: right;
  width: 32px;
}
/* line 339, scss/main.scss */
.list-view-pf .list-group-item .apf-column.usage-column .apf-title {
  text-align: right;
}
/* line 344, scss/main.scss */
.list-view-pf .list-group-item .apf-column.label-value-column .label-value-container {
  display: inline-block;
  width: 100%;
}
/* line 348, scss/main.scss */
.list-view-pf .list-group-item .apf-column.label-value-column .apf-title {
  text-align: right;
}
/* line 354, scss/main.scss */
.list-view-pf .provider-column {
  padding-top: 5px !important;
}
